html {
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightgray;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #003366;
    overflow: hidden;
    border-bottom: 1px solid #003366;
    box-shadow: 0 6px 2px -2px rgb(0, 0, 0, 0.2);
}



@media only screen and (max-width: 1000px) {
    .nav a {
        font-size: 13px;
    }
    .sponsorshipdetails {
        font-size: 10px;
        width: 220px;
    }
}

@media only screen and (min-width: 1000px) {
    .nav a {
        font-size: 24px;
    }

    .sponsorshipdetails {
        font-size: 14px;
        width: 300px;

    }
}


.nav a {
    font-weight: bold;
    float: right;
    display: block;
    color: #ffffff;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: #ffffff;
    transition: background-color 0.5s;
    color: #003366;
}

.nav a.active {
    background-color: #ffffff;
    color: #003366;
}

.title {
    font-size: 96px;
}

.sponsortext {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

.sponsortext h1 {
    font-weight: bold;
    font-size: 40px;
}

.sponsortext p {
    margin-bottom: 50px;
}

.sponsorshipdetails {
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #003366;
    color: white;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
}

.donatebutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}