html {
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightgray;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #003366;
    overflow: hidden;
    border-bottom: 1px solid black;
    box-shadow: 0 6px 2px -2px rgb(0, 0, 0, 0.2);
}



@media only screen and (max-width: 1000px) {
    .nav a {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1000px) {
    .nav a {
        font-size: 24px;
    }
}


.nav a {
    font-family: 'Ubuntu', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    float: right;
    font-weight: bold;
    display: block;
    color: #ffffff;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: #ffffff;
    transition: background-color 0.5s;
    color: #003366;
}

.nav a.active {
    background-color: #ffffff;
    color: #003366;
}

.title {
    font-size: 96px;
}

.opening {

    font-family: 'Ubuntu', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
